<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <%= render 'shared/aside' %>
  </div>

  <div class="container-fluid">
    <div class="col-md-8">
      <div class="row">
        <div class="cold-md-4 col-sm-6">
          <%= flash[:error] %>

          <div class="form-horizontal">
            <%= form_for(@recipe) do |form| %>
              <div class="form-group">
                <p>
                  <%= form.label :title %><br />
                  <%= form.text_field :title %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :recipe_type_id %><br />
                  <%= form.collection_select(:recipe_type_id, @recipe_types, :id, :name) %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :cuisine_id %>
                </p><br />
                <%= form.collection_select(:cuisine_id, @cuisines, :id, :name) %>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :difficulty %><br />
                  <%= form.text_field :difficulty %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :cook_time %><br />
                  <%= form.text_field :cook_time %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :ingredients %><br />
                  <%= form.text_field :ingredients %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.label :method %><br />
                  <%= form.text_field :method %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <%= form.submit( I18n.t(:submit), class: "btn btn-default") %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
