<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

	<h1> <%= I18n.t(:search_results_by)%>: <%= @title %> </h1>

	<% if @recipes.empty? %>
		<p>
			<%= I18n.t(:search_empty) %>
			<%= link_to(I18n.t(:create_new_recipe), new_recipe_path)%>
		</p>
	<% else%>
		<div class="col-md-8 col-sm-8">
			<div class="row">
				<% @recipes.each do |recipe| %>
					<div class="col-md-4 col-sm-6">
						<div class="recipe">
							<%= render recipe %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
