<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

  <div class="col-md-8">
  	<div class="row">
  		<div class="col-md-4 col-sm-6">

				<h1>
					<%= @recipe.title %>
				</h1>
				<% if @recipe.highlight %>
					<figure class="destaque">
						<%= image_tag('star.png', alt: 'destaque', size: '30') %>
					</figure>
				<% end %>
				<h3> <%= I18n.t :details %> </h3>
				<p> <%= @recipe.recipe_type.name %> </p>
				<p> <%= @recipe.cuisine.name %> </p>
				<p> <%= @recipe.difficulty %> </p>
				<p>
					<%= @recipe.cook_time%>
					<%= I18n.t :minutes %>
				</p>
				<h3> <%= I18n.t :ingredients %> </h3>
				<p> <%= @recipe.ingredients %> </p>

				<% if user_signed_in? %>
					<% if current_user.favorited?(@recipe) %>
					  <%= link_to I18n.t(:remove_favorite), delete_favorite_recipe_path(@recipe), method: :delete %>
					<% else %>
					  <%= link_to I18n.t(:favorite), favorite_recipe_path(@recipe), method: :post %>
					<% end %>

					<% if current_user.my_recipe?(@recipe) %>
					  <%= link_to I18n.t(:edit), edit_recipe_path(@recipe)%>
					  <%= link_to I18n.t(:remove), recipe_path(@recipe), method: :delete  %>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-4 col-sm-6">
				<% if @recipe.image.file? %>
	        <%= image_tag @recipe.image.url(:medium) %>
	    	<% else %>
	      	<p>Foto não encontrada</p>
	    	<% end %>
				<h3> <%= I18n.t :method %> </h3>
				<p> <%= @recipe.method %> </p>
				<% unless @recipe.user.nil? %>
				  <h3> Autor </h3>
				  <p> <%= @recipe.user.name %></p>
				<% end %>

				<% if user_signed_in? %>
				 <%= form_tag(share_recipe_path, method: :post) do %>
				   <%= label_tag :name, 'Nome '%>
					 <%= text_field_tag :name %>
				   <%= label_tag :email %>
					 <%= text_field_tag :email %>
					 <%= label_tag :message, 'Mensagem' %>
					 <%= text_area_tag :message  %>
					 <%= submit_tag I18n.t(:submit) %>
				 <% end %>
				<% end %>
			</div>
		</div>
		<%= link_to I18n.t(:back), root_path %>
  </div>
</div>
