<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

  <div class="col-md-8">
  	<div class="row">
  		<div class="col-md-4 col-sm-6">
				<h1> <%= @recipe.title %> </h1>
				<h3> <%= I18n.t :details %> </h3>
				<p> <%= @recipe.recipe_type.name %> </p>
				<p> <%= @recipe.cuisine.name %> </p>
				<p> <%= @recipe.difficulty %> </p>
				<p>
					<%= @recipe.cook_time%>
					<%= I18n.t :minutes %>
				</p>
				<h3> <%= I18n.t :ingredients  %> </h3>
				<p> <%= @recipe.ingredients %> </p>
				<% if @recipe.user == current_user %>
					<%= link_to I18n.t(:edit), edit_recipe_path(@recipe) %>
					<%= link_to 'Remover', recipe_path(@recipe),
					 		method: :delete,
					 		data: {confirm: 'Tem certeza?'}%>
				<% end %>

				<% if user_signed_in? %>
					<% if @not_favorite %>
						<%= link_to 'Favoritar', new_favorite_recipes_path(id: @recipe.id)  %>
					<% else %>
						<%= link_to 'Remover Favorito',
						remove_favorite_recipes_path(id: @recipe.id) %>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-4 col-sm-6">
				<h3> <%= I18n.t :method %> </h3>
				<p> <%= @recipe.method %> </p>
				<% unless @recipe.user.nil? %>
				  <h3> Autor </h3>
				  <p> <%= @recipe.user.name %></p>
				<% end %>
			</div>
		</div>
		<%= link_to I18n.t(:back), root_path %>
  </div>
</div>
