<aside>
	<h3> <%= I18n.t :search_recipe %> </h3>
	<%= form_tag(search_recipes_path, method: "get") do %>
	  <%= label_tag(:search, I18n.t(:search)) %><br />
	  <%= text_field_tag(:search) %>
	  <%= submit_tag(I18n.t(:seek)) %>
	<% end %>

	<h3> <%= link_to I18n.t(:view_recipes), recipes_path %>

	<h3> <%= I18n.t('activerecord.models.cuisine', count: @cuisines.count) %></h3>
	<% @cuisines.each do |cuisine| %>
	   <p> <%= link_to cuisine.name, cuisine_path(cuisine) %> </p>
	<% end %>

	<h3> <%= I18n.t('activerecord.models.recipe_type', count: @recipe_types.count) %> </h3>
	<% @recipe_types.each do |type| %>
	  <p> <%= link_to type.name, recipe_type_path(type) %> </p>
	<% end %>
</aside>
