<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4">
    <%= render 'shared/aside' %>
  </div>

  <div class="container-fluid">
    <div class="col-md-8">
      <div class="form-horizontal">
        <%= form_for(@recipe_type) do |f| %>
          <% if @recipe_type.errors.any? %>
            <h1> Você deve informar o nome do tipo de receita </h1>
          <% end %>
          
          <div class="form-group">
            <p>
            	<%= f.label :name, 'Nome' %>
            	<%= f.text_field :name %>
            </p>
          </div>

          <div class="form-group">
            <p>
            	<%= f.submit('Enviar', class: "btn btn-default") %>
            </p>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>