<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

	<div class="col-md-8 col-sm-8">
		<div class="row">
			<h1>
			  <%= I18n.t :recipes_filtered_by %>
				<%= @recipe_type.name %>
			 </h1>
			<% if @recipes.count > 0 %>
				<% @recipes.each do |recipe| %>
					<div class="col-md-4 col-sm-6">
						<div class="recipe">
							<%= render recipe %>
						</div>
					</div>
				<% end %>
			<% else %>
			  <p> <%= I18n.t :recipes_match_error %> </p>
			<% end %>
			<% if user_signed_in? && current_user.admin? %>
			  <%= link_to 'Editar', edit_recipe_type_path(@recipe_type)%>
			<% end %>
		</div>
  </div>
</div>
