<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4">
	  <%= render 'shared/aside' %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h1>
			  <%= I18n.t :recipes_filtered_by %>
				<%= @recipe_type.name %>
			 </h1>
			<% if @recipes.count > 0 %>
				<div class="col-md-4 col-sm-6">
					<% @recipes.each do |recipe| %>
						<% @recipes.each do |recipe| %>
						 <%= render recipe %>
						<% end %>
					<% end %>
				</div>
			<% else %>
			  <p> <%= I18n.t :recipes_match_error %> </p>
			<% end %>
		</div>
  </div>
</div>
