<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyCookbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7 col-md-7">
          <h1> CookBook </h1>
          <%if user_signed_in? %>
            <p> Bem-vindo <%= current_user.email %>
               ao maior livro de receitas online </p>
          <% else %>
            <p> Bem-vindo ao maior livro de receitas online.
              Faça sua conta hoje e escreva também suas receitas  </p>
          <% end %>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
         <div class="col-xs-5 col-md-5">
          <%= render 'shared/menu' %>
        </div>
      </div>
    </div>



    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
